body {
  font-family: OpenDyslexic, 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
  background: #FFF5CD;
  box-sizing: border-box;
  margin: 0 auto;
  color: #013970;
  padding: 10px;
}

@font-face {
  font-family: OpenDyslexic;
  src: url("./OpenDyslexic-Regular.woff");
}

#add-todo {
  display: flex;
  margin: 0 auto;
}

.complete {
  border: 7px solid rgb(196, 196, 196, 0.3);
  color: rgb(1, 57, 112, 0.3);
  text-decoration: line-through;
}

h1 {
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin-top: 5%;
  color: #013970;
}

li {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  border: 7px solid #C4C4C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.todo-wrapper {
  width: 60%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.add-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  max-width: 1000px;
  margin: 5px auto;

}

.add-form__input {
  border: solid 7px #013970;
  padding: 10px;
  font-family: OpenDyslexic;
  border-radius: 20px;
  width: 100%;
  font-size: 2em;
  color: #013970;

}

button {
  margin: 5px 15px;
}

.add-form__button {
  background: #C4C4C4;
  color: #013970;
  font-family: OpenDyslexic;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 4em;
  line-height: 1;
  border: solid 7px #013970;
}

.done {
  text-decoration: line-through;
}

.bin {
  background: url(./images/bin.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border: none;
}

.tick {
  background: url(./images/tick.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border: none;
}

.buttons-container {
  display: flex;
}