body {
    background: whitesmoke;
}

form {
    border: solid black 2px;
}

todo-container {
    border: solid yellow 2px
}

li {
    border: solid red 1px;
}

.complete {
    border: solid green 1px;
    height: 200px;
}